#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





/* .container {
  background-color: rgb(255, 255, 255);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container .entryContent {
  margin: auto;
  max-width: 832px;
  padding: 40px 0;
  width: 100%;
}

.container .entryContent p {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

@media (max-width: 1100px) {
  .container {
    margin: 0;
  }
  
  .container .imageContainer {
    width: 100%;
    height: 40vh;
  }

  .container .textContainer {
    width: 100%;
  }

  .container .textContainer p {
    font-size: 1.2rem;
  }
} */


.ctaButtoncontainer {
  margin-top: 24px;
}

.greenCtaButton {
  color: white;
  padding: 6px 13px;
  border-radius: 3px;
  font-weight: 600;
  background: #8dbe40;
  margin: 0;
  /* height: 32px !important; */
  transition: all 0.2s;
  filter: brightness(1);
  border: 2px solid #8dbe40;
  display: inline-flex;
  align-items: center;
}

.greenCtaButton:hover,
.white:hover {
  filter: brightness(1.15);
}

.greenCtaButton:hover {
  cursor: pointer;
}

.ctaBox {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 34px 60px 60px;
  text-align: center;
  width: 100%;
  /* margin: auto auto 20px; */
  display: flex;
  justify-content: center;
}

.ctaBox .ctaText h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.ctaBox .ctaText .gradientText {
  font-size: 1.7rem;
  font-weight: 600;
  background: -webkit-linear-gradient(135deg, #ADCF2C, #5A946C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ctaBox .ctaText {
  text-wrap: balance;
  text-align: center;
  font-size: 1rem;
  max-width: 60ch;
}

.ctaText .bold {
  font-weight: 600;
}

@media (max-width: 500px) {
  .container .imageContainer {
    height: 25vh;
  }

  .container .textContainer {
    width: 100%;
  }

  .ctaBox {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 15px 20px 45px;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    margin: auto auto 20px;
    display: flex;
    justify-content: center;
  }

  .ctaBox .ctaText {
    text-align: center;
    font-size: 1rem;
    max-width: 60ch;
  }
}
